spikeinterface[full]==0.103.2
zarr==2.18.3
numpy>=1.26,<3
scipy>=1.11,<2
matplotlib>=3.8,<4
seaborn>=0.13,<1
scikit-learn>=1.4,<2
datashader>=0.16,<1
tqdm>=4.66,<5
dash>=2.18,<3
plotly-resampler>=0.10,<1
